{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" id="cool-background">
    <div class="row">
        <div class="col-md-12">
                My name is Jared Wallace. I'm a 30 something husband, father of 4 girls, and
                proud graduate of Texas State University. I majored in Computer Science with
                a minor in Applied Mathematics. I'm currently employed by Vrbo, who used to be Homeaway, which has been
                owned by Expedia for as long as I've been here, as a senior software engineer. My
                specific area of work is on the cloud platform team, where I design, implement and maintain the platform
                product that the entire org uses to deploy applications. The product itself is pretty cool, for details,
                see the projects section <a href="https://jared-wallace.com/projects/detail/21">here</a>. Prior to accepting
                employment with Vrbo, I worked for IBM on both the next-generation cloud API and before that, as L2 tech
                support for the Sametime product suite.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a  href="{% static "base/img/wendys.jpg" %}" class="thumbnail">
                <img src="{% static "base/img/wendys.jpg" %}" title="A night shot of the Wendy's where I used to work." >
            </a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
                Most of my work history has been with the quick service industry. All in all I have
                around ten years of experience in just about every different concept out there. I
                last worked at a Wendy's run by Cedar Enterprises, where I endured just over four years.
                As such companies go, they were certainly one of the most professional, and I greatly
                enjoyed working under my supervisor Leon Cole.
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
                I am slowly adjusting to the life of a regular professional employee, with weekends and holidays off,
                and paid vacations to look forward to. It sometimes seems surreal to me, and I have to pinch myself
                to remember that I am not living in a dream. I was once asked in an interview where I drew the motivation
                to achieve such stellar grades while raising a family and working part time. My answer was that, quite
                simply, I was running scared. Every single day, I felt that if I slacked off for one second, skipped one
                class, procrastinated on one assignment, that this dream would come to a crashing halt. I truly believed
                that this opportunity was the last chance I would ever have in my life to become the person I wanted to be.
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a  href="{% static "base/img/brother.jpg" %}" class="thumbnail">
                <img src="{% static "base/img/brother.jpg" %}" title="My brother and his family at his office">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a  href="{% static "base/img/family.jpg" %}" class="thumbnail">
                <img src="{% static "base/img/family.jpg" %}" title="My family, circa 2009">
            </a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            My family was the driving force behind my efforts in college. There is absolutely no way I'd have been able
            to accomplish anything there without their support. My wife put up with my crazy hours and 
            mountains of homework for 5 years, and never complained at all the housework I didn't do.
            My kids are finally getting used to having me around, now that schoolwork has no claim on my time.
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
window.onload=function(){document.getElementById("wallace-about").setAttribute("class", "active")};
</script>
{% endblock script %}
