{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" id="cool-background">
    <div class="row">
        <div class="col-md-12">
            <address>
                <h4>Office<small> - Vrbo at the Domain, D11, {{ contact.office }}</small></h4>
                <h4>Phone <small>- {{ contact.phone }}</small></h4>
                <h4>GitHub <small>- <a href="{{ contact.github }}">{{ contact.github }}</a></small></h4>
                <h4>BitBucket <small>- <a href="{{ contact.bitbucket }}">{{ contact.bitbucket }}</a></small></h4>
            {% if contact.days %}
            <table class="table table-bordered">
                <caption class="text-center"><h3>Office Hours</h3></caption>
                    <thead>
                        <tr>
                            <th><h5>Day</h5></th><th><h5>From</h5></th><th><h5>Until</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for day in contact.days.all %}
                    <tr><td>{{ day.days }}</td><td>{{ day.from_time }}</td><td>{{ day.to_time }}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </address>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col-md-6 col-centered">
            <a href="mailto:{{ contact.email }}" class="btn btn-primary btn-block" role="button">Email</a>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
window.onload=function(){document.getElementById("wallace-contact").setAttribute("class", "active")};
</script>
{% endblock script %}
