{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" id="cool-background">
    <div class="row">
        <div class="col-md-8">
            <h3>About Noemi</h3>
            <p>
            Noemi is a sweet girl who is the hero of her youngest sister, Jennifer. Precocious from a young age, she was
            always a strong and confident girl. When her mother decided to leave an abusive relationship, and was despairing
            of how to provide for her two small daughters, Noemi, all of 6 years old, assured her mom that they would find a way
            to survive.
            </p>
            <p>As she grew older, she continued to exhibit leadership (although her sisters were more likely to call it bossiness) and
            was entrusted by her parents to assist in caring for her 3 sisters. She would decide to clean the house on her own volition,
            and would do an outstanding job. In short, she was tremendous help for her mother and I.
            </p>
        </div>
        <div class="col-md-4">
            <a  href="{% static "base/img/noemi-2008.jpg" %}" class="thumbnail">
                <img src="{% static "base/img/noemi-2008.jpg" %}" title="Noemi in 2008" >
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a  href="{% static "base/img/noemi-2009-oct.jpg" %}" class="thumbnail">
                <img src="{% static "base/img/noemi-2009-oct.jpg" %}" title="Noemi in 2009" >
            </a>
        </div>
        <div class="col-md-8">
            <p>
            As she turned 12 and then 13, and began to pass into the wild turbulence of adolescence, demons from her past came to the forefront.
            Her mother and I were made aware that the happy go lucky kid of years past had been struggling silently with a traumatic series of events
            that transpired in Mexico. Through years of therapy and the dedicated efforts of many caring individuals, Noemi made significant progress
            towards learning how to manage those demons. Nevertheless, as Noemi passed 16 years of age and headed towards 17 at full speed, she
            began to make her desire to return to live with her biological father known to us. Despite severe misgivings, and concern for her education,
            over the last few months her mother and I decided to allow her to make that move. We had planned to take her down the week of Spring
            Break, as we would have time to make a leisurely trip down and back.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Background</h3>
            <p>
            Noemi had let us know a month or so ago that she had met some guy online, named ""Erich"",  and that he might be coming here to visit. She said he had just turned 19.
            She asked our permission to date him, and we denied that request. Her biological father, Tomas, did speak with him once, and he told us later he
            had a Central American accent, not Mexican. (Her biological father is Mexican) She told a cousin in Mexico that he was actually 25, and a member of MS-13.
            She also told her sister Paolina he was in a gang.
            <h3>Timeline</h3>
            <p>
            Noemi left school around noon on March 7, 2016. She had made arrangements to meet "Erich" at the local Motel 6. Around 2pm,
            she contacted relatives in Mexico, asking whether she could stay with them if her biological father refused to allow her to stay.
            Around 4-4:30pm, she contacted her mother to advise she was "walking home because she had a bad day".
            </p>
        </div>
        <div class="col-md-4">
            <a  href="{% static "base/img/noemi-2009-dec.jpg" %}" class="thumbnail">
                <img src="{% static "base/img/noemi-2009-dec.jpg" %}" title="Noemi in 2009" >
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a  href="{% static "base/img/noemi-2013.jpg" %}" class="thumbnail">
                <img src="{% static "base/img/noemi-2013.jpg" %}" title="Noemi in 2013" >
            </a>
        </div>
        <div class="col-md-8">
            My wife was not convinced,
            and started calling her best friend E- (name redacted for privacy). E- refused to pick up initially, but around 5:30pm called to admit Noemi was at
            the Motel 6 with "Erich". My wife and I immediately started driving to the motel. After we arrived, we spoke with the desk clerk
            and showed him Noemi's picture. He had not seen her, and no one registered under the name Erich. My wife and I left the hotel,
            (E- had not been clear on the name of the hotel, so we weren't convinced this was the right place). About halfway back home,
            E-'s mother called us, she was on her way over with E- and B- (E-'s friend, living with E and her mom). E-'s mom informed us
            E- had just admitted 3 or 4 other men were involved. My wife and I immediately contacted the police, and arranged to meet them back at the hotel.
            We spent a couple of hours at the hotel. E- further offered that the car they were using a white Nissan 4 dr sedan with Virginia plates
            and dark tinted windows. The police somehow determined what room they had been in (I don't know how, I was busy filling out 40 different forms and
            paperwork) and went to knock on the door, but they had left. E- also pulled some snapchat photos Noemi had posted with "Erich", from the hotel room.
            </p>
            <p>
            Wednesday, my wife spoke with the Leander PD, but they couldn't help her because the case was with Cedar Park PD. My wife and I continued to hope
            the disappearance was voluntary and temporary, but Noemi's phone was off.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
            Thursday, I dropped by the Cedar Park PD, to advise we had obtained a picture of the man known to us as "Erich". We had pulled it off my daughter's
            facebook page. His accounts, (there were two) were under the name "Mariano Rogriguez". There were pictures of guns and "El Mago" from the movie
            "Sin Nombre" on one of them. Across both accounts, the only friends were young females. I also outlined the reasons we felt the disappearence was not voluntary.
            <ul>
                <li>I left early Monday morning to take Noemi's sister to an appointment. She had an hour to pack her belongings, but did not.</li>
                <li>She was not in trouble, and had not had a fight with her mother or I</li>
                <li>We discovered she had been calling another of her friends (friend X since we still don't know her name, although the police most likely do by now)
                for a ride home from the hotel</li>
                <li>She has not run away before without letting somebody know, or at least answering her phone or getting on social media. Her phone has been off
                since Monday evening, and she has not contacted anyone at all.</li>
            </ul>
            Later that afternoon, Cedar Park PD called to advise the case was being transferred to Leander PD. They assigned a detective to the case, A. Jones, who works in the
            Major Crimes division. Jones sent out two uniforms that evening for more paperwork.
            </p>
            <p>
            Friday, Detective Jones called to advise they had involved local FBI, and Richmond VA PD. Later that day, both detectives from Leander and the FBI field agent
            came by the house to obtain assistance locating B-, as someone had told them she was staying with us. We told them no, she was staying with E-. Later that evening I got a call
            from Detective Jones, who advised of the current status. They have determined the plate number of the car, VCX3404, which an online search reveals to be a white 2011 Nissan Sentra
            (matches earlier description). They have also identified 3 of the men involved, and they are confirmed members of MS-13. My wife and I later contacted the National Missing
            and Exploited Children website for assistance getting her picture out to more places. This will likely not happen before Monday or Tuesday.
            </p>
            <h3>"Francisco Lemus-Castillo aka Erich aka Lobo"</h3>
            <a  href="{% static "base/img/mugshot.png" %}" class="thumbnail">
                <img src="{% static "base/img/mugshot.png" %}" title="Pedophile" >
            </a>

        </div>
        <div class="col-md-4">
            <h3>Another man who was involved</h3>
            <a  href="{% static "base/img/driver.jpg" %}" class="thumbnail">
                <img src="{% static "base/img/driver.jpg" %}" title="Driver of the car" >
            </a>
        </div>
        <div class="col-md-12">
                <p>
                <h2>Update as of August 11, 2016:</h2> Noemi and the man she was with have been found, and are safe. Her disappearance did turn out to be voluntary.
                The man's name was Francisco Lemus-Castillo, 24 years of age, who has the street name "Lobo". I want to
                thank each and every person who lent us assistance and prayers during these last few months. I will be leaving this page up for the foreseeable future, in the hopes
                that if this man happens to get free years later, he will not be able to hide from what he has done to our family.
                </p>
                <p>
                <h2>Update as of November 27, 2019:</h2> Francisco has been sentenced to 25 years in prison
                (14 suspended) for a robbery committed in July of 2016, and is scheduled to go on trial for murder one
                and robbery this April. Based on the offense date, and the description of the attacks,
                <a href="https://www.fbi.gov/wanted/seeking-info/clemente-jimenez-lopez/@@download.pdf">this</a>
                appears to be the case he is charged with. Regardless of that trial's outcome, his earliest release will
                be in 2027. It would seem that they robbed and killed people in order to have enough money to drive down
                to Texas to pick up my daughter (she left on the 7th, Clemente was murdered on the 6th).
                </p>
                <p>
                <h2>Update as of October 3, 2021:</h2> All court actions have now completed. The man law enforcement believe to have actually
                pulled the trigger (Osmar Hernandez Santamaria) has been sentenced to 34 years in prison. Francisco received an additional sentence of 40 years, with 15 suspended,
                ensuring he'll be eligible for Medicare upon his release, if he lives that long. Here's a <a href="https://www.nbc12.com/2021/04/08/man-convicted-ms-gang-related-shooting-richmond/?outputType=amp">News article</a> discussing the case.
                </p>
                <h2>Update as of July, 2023:</h2> Turns out he helped murder another man, and received a life sentence
                for it. Here's a <a href="https://www.justice.gov/usao-edva/pr/final-ms-13-gang-member-sentenced-role-rival-gang-members-murder">pressrelease</a>
                discussing the other murder, this time of a rival gang member. Guess he won't have to worry about
                Medicare after all.
                </p>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
window.onload=function(){document.getElementById("wallace-noemi").setAttribute("class", "active")};
</script>
{% endblock script %}
