{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jared Wallace</title>
    <link href="{% static "base/css/jared.css" %}" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <!--favicon stuff -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="static/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="static/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="static/mstile-144x144.png">
</head>

<body>
<img src="{% static "base/img/sig2.png" %}">

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="wallace-home"><a href="{% url 'index' %}">Home</a></li>
                <li class="nav-item dropdown" id="wallace-projects">
                  <a href="{% url 'projects_index' %}" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'projects_index' %}">Index</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'list' type='personal' %}">Personal projects</a></li>
                    <li><a href="{% url 'list' type='school' %}">School projects</a></li>
                    <li><a href="{% url 'list' type='work' %}">Work projects</a></li>
                  </ul>
                </li>
                <li class="dropdown" id="wallace-labs">
                  <a href="{% url 'lab_home' %}" class="dropdown-toggle" data-toggle="dropdown">Labs <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'lab_home' %}">Lab home</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'section' 1 %}">Honors 1428</a></li>
                    <li><a href="{% url 'section' 2 %}">Regular 1428</a></li>
                    <li><a href="{% url 'section' 3 %}">Embedded Systems</a></li>
                    <li><a href="{% url 'section' 4 %}">Digital Logic</a></li>
                  </ul>
                </li>
                <li id="wallace-noemi"><a href="{% url 'noemi' %}">Noemi</a></li>
                <li id="wallace-about"><a href="{% url 'about' %}">About</a></li>
                <li id="wallace-contact"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown" id="wallace-login">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {% if user.first_name %}
                          Welcome {{ user.first_name }}
                          {% else %}
                          Welcome {{ user.username }}
                          {% endif %}
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        {% if user.is_active and user.is_staff %}
                        <li><a href="/admin">Admin Panel</a></li>
                        <li class="divider"></li>
                        {% endif %}
                        <li><a href="#">Edit profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <li id="wallace-login"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block content %}
{% endblock content %}
<div id="footer">
    <div class="container">
        <p class="muted credit">
            &copy 2014 Jared Wallace
        </p>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="{% static "base/js/bootstrap.js" %}"></script>
<script src="{% static "base/js/jquery.backstretch.min.js" %}"></script>
<script src="{% static "base/js/jared.js" %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54461627-1', 'auto');
  ga('send', 'pageview');

</script>
{% block script %}
{% endblock script %}
</body>
</html>
